/* Color Theme */
$true-blue:                     #0466C8FF;
$prussian-blue:                 #13315CFF;
$oxford-blue-1:                 #002855FF;
$oxford-blue-2:                 #001233FF;
$roman-silver:                  #7D8597FF;
$platinum:                      #E5E4E2FF;
$red:                           #FF0000FF;
$green:                         #008000FF;

$black:                         #000000FF;
$white:                         #FFFFFFFF;


/* Colors */
// Text
$text-dark:                     $prussian-blue;
$text-light:                    $white;
$header:                        $oxford-blue-1;
// Background, Border, Shadow
$background:                    $platinum;
$border-content:                $oxford-blue-1;
$border-top:                    $oxford-blue-2;
$border-bottom:                 $oxford-blue-1;
$box-shadow:                    $roman-silver;


/* Buttons */
// Normal State
$button-text:                   $text-dark;
$button-background:             $white;
$button-border:                 $oxford-blue-1;
// Hover State
$button-text-hover:             $white;
$button-background-hover:       $true-blue;
$button-border-hover:           $oxford-blue-1;


/* Grid Nodes */
// Blocked/Visited/Path
$blocked-series-1:              #283747;
$blocked-series-2:              #1f3042;
$blocked-series-3:              #15283c;
$blocked-series-4:              #0a2137;
$blocked-series-5:              #001a32;
$blocked:                       $blocked-series-5;

$visited-series-1:              #F680AF;
$visited-series-2:              #D46EC9;
$visited-series-3:              #D687EB;
$visited-series-4:              #A26ED4;
$visited-series-5:              #baa5ff;
$visited:                       $visited-series-5;

$path-series-1:                 #91E0FFFF;
$path-series-2:                 #84E7E8FF;
$path-series-3:                 #9FFFE6FF;
$path-series-4:                 #84E8B1FF;
$path-series-5:                 #91FFA4FF;
$path:                          $path-series-5;

// Start/End/Moving
$start-node-background:         $green;
$start-node-icon:               $white;
$end-node-background:           $red;
$end-node-icon:                 $white;
$moving-node-background:        $true-blue;
$moving-node-icon:              $white;
$icon-in-path:                  $blocked;


/* Grid */
$grid-lines:                    $blocked;
$grid-background:               $white;


/* Sizes */
$aside-width: 10.5em;


/* Fonts & Text */
$font-stack-body: normal normal normal 1em 'Roboto', sans-serif;
$font-stack-header: normal small-caps 900 3.5em 'Montserrat', sans-serif;
h3 {  
  font-weight: 500; 
}


* {
  box-sizing: border-box; 
}


/* Main Wrapper */
body {
  background: $background;
  height: 100vh;
  overflow: hidden;
  font: $font-stack-body;

  .wrapper {
    display: flex;
    justify-content: center;

    .content {
      display: grid !important;
      grid-template-columns: 1fr $aside-width;
      gap: 1.5em;
    
      header {
        grid-row: 1;
        grid-column: 1 / 2;
        margin-top: 0.25em;
        color: $header;
        text-align: center;
        font: $font-stack-header
      }
      
      main {
        grid-row: 2;
        grid-column: 1;
      }
      
      aside {
        grid-row: 2;
        grid-column: 2;
      }
    }
  }
}


/* Borders */
.border-wrap {
  padding: (1em / 4);
  position: relative;
  border-collapse: collapse;
  background: linear-gradient(180deg, $border-top, $border-bottom);
  box-shadow: 0.2em 0.2em 0.1em $box-shadow;

  .border-content {
    padding: 0.2em;
    background: $border-content;
    text-align: center;
    color: $text-light;

    > * {
      width: 100%;
      margin: 0;
    }
  }
}


/* Side Panel */
aside {
  display: grid;
  justify-content: left;

  #aside-controls {
    align-self: flex-start;
  }
  #aside-statistics {
    align-self: flex-end;
  }
}


/* Controls */
#aside-controls {
  & h3 {
    margin-bottom: 0.25em;
  }
  & h3:not(:first-child) {
    margin-top: 0.5em;
  }
  & #clear {
    margin-top: 1em;
  }
}


/* Statistics */
#aside-statistics {
  h3 {
    margin-bottom: 0.25em;
  }
  tr {
    font-size: 1em;

    &#row-visited > td:nth-child(2) {
      color: $visited;
    }
    &#row-path > td:nth-child(2) {
      color: $path;
    }

    td:nth-child(1) {
      text-align: left;
      font-weight: 500;
      width: 70%;
    }
    td:nth-child(2) {
      text-align: right;
      font-weight: 600;
      width: 30%;
    }
  }
}


/* Grid Table */
#grid-table {
  border-collapse: collapse;

  /* Nodes */
  td {
    background: $grid-background;
    border: 1px solid $grid-lines;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
      
    &.start-node {
      background: $start-node-background;
      color: $start-node-icon;
    }

    &.end-node {
      background: $end-node-background;
      color: $end-node-icon;
    }

    &.moving {
      background: $moving-node-background;
      color: $moving-node-icon;
    }

    &.blocked {
      background: $blocked;
      animation-duration: 0.25s;
      animation-name: blockedAnimation;
    }
    
    &.visited {
      background: $visited;
      animation-duration: 1s;
      animation-name: visitedAnimation;
    }
    
    &.path {
      background: $path;
      color: $icon-in-path;
      animation-duration: 1s;
      animation-name: pathAnimation;
    }
  }

  &:hover {
    cursor: pointer;
  }
}


/* Icons */
.fa {
  &-dot-circle, 
  &-arrow-right {
    display: table-cell !important;
  }
  &-dot-circle:before, 
  &-arrow-right:before {
    font-size: 1.25em;
    line-height: 1.2;
  }
  &-trash:before {
    margin: 0.2em;
  }
}


/* Buttons */
.button {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0.5em 0.25em;
  margin: 0 0 0.3em 0;
  vertical-align: middle;
  border-radius: 0.15em;
  color: $button-text;
  background: $button-background;
  border: 0.1em solid $button-border;
  user-select: none;

  > * {
    vertical-align: middle;
  }

  &:hover, &.pseudo-hover {
    cursor: pointer;
    color: $button-text-hover;
    background: $button-background-hover;
    border: 0.1em solid $button-border-hover;
  }
}


/* Animations */
@mixin animation ($color, $scale) {
  transform: scale($scale);
  background: $color;
}

@keyframes blockedAnimation {
  0%    { @include animation($blocked-series-1, 0.75) }
  50%   { @include animation($blocked-series-2, 1.25); }
  100%  { @include animation($blocked-series-3, 1) }
}

@keyframes visitedAnimation {
  0%    { @include animation($visited-series-1, 0.75) }
  25%   { @include animation($visited-series-2, 0.85) }
  50%   { @include animation($visited-series-3, 1) }
  75%   { @include animation($visited-series-4, 1.15) }
  100%  { @include animation($visited-series-5, 1.35) }
}

@keyframes pathAnimation {
  0%    { @include animation($path-series-1, 0.75) }
  25%   { @include animation($path-series-2, 0.85) }
  50%   { @include animation($path-series-3, 1) }
  75%   { @include animation($path-series-4, 1.15) }
  100%  { @include animation($path-series-5, 1.35) }
}
